{% extends '_base.html' %}

{% block title %}

<title>Users</title>
{% endblock %}

{% block menu %}
  {{ show_links(user) }}
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Users</h1>
  <h6>Click to promote to expert</h6>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="list-group">
      {% for el in users %}
      <a href="{{ url_for('promote', user_id=el['id']) }}" class="list-group-item {% if el['expert'] %} active {% endif %}">
        <h4 class="list-group-item-heading">{{ el['name'] }}</h4>
      </a>
      {% endfor %}
    </div>
  </div><!-- /.col-lg-12 -->
</div>

{% endblock %}